body{
	cursor:default;
}
.headlines{
	margin:0 auto;
	padding: 40px 0;
	width: 960px;
	
	background: #ccc;
}
.a4-block{
	margin:25px auto;
	padding: 50px 50px 100px 75px;
	width:805px;
	height:1165px; 
	
	background: #dfdfdf;
}
.horizontal-row{
	float:left;
}

.setka-little-block{	
	margin:5px 5px 10px 5px;
	padding:5px;
	width:180px;
	height:120px;
	
	background:#fff;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.setca__big-block{	
	margin:5px 5px 10px 5px;
	padding:5px;
	width: 580px;
	height:970px;
		
	background:#fff;
}

.setca__big-block:hover{
	background: #ffa500;
}

.size__height-2{
	height: 265px;
}

.setka-little-block:hover{
	background: #ffa500;
}